# System
Thumbs.db
*.bak

# Venv
/env/
/env2/
/venv/

# Configs

# Project dirs
**/__pycache__/
/zYouTubeDl_GUI_development/*
/media/
/screenshots/*

# Project files
cookies*.txt
/yt-dlp/yt-dlp_*.zip

# Simlinks

# Log files
/logs/

# Other files
*.tmp
Очистка_компил_py3.bat
*.png
*.jpg
*.webm
*.mp4
*.mkv
*.mp3
*.m4a
*.exe
!/zYouTubeDl_GUI_development/YouTubeDl_GUI_description.txt
!/zYouTubeDl_GUI_development/YT-DLP_128.png
!/screenshots/*_screenshot_*.png
