# System
Thumbs.db
*.bak
*~

# Byte-compiled / optimized / DLL files
**/__pycache__/
*.py[cod]
*$py.class

# Venv
/env/
/venv/
env.bak/
venv.bak/

# Configs

# Project dirs
/zYouTubeDl_GUI_development/*
/media/
/screenshots/*

# Project files
cookies*.txt
/yt-dlp/yt-dlp_*.zip

# Simlinks

# Log files
/logs/
*.log

# Other files
*.tmp
Очистка_компил_py3.bat
*.png
*.jpg
*.webm
*.mp4
*.mkv
*.mp3
*.m4a
*.exe
!/zYouTubeDl_GUI_development/YouTubeDl_GUI_description.txt
!/zYouTubeDl_GUI_development/YT-DLP_128.png
!/screenshots/*_screenshot_*.png
